* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #65baf3;
}

a {
  text-decoration: none;
}

ul {
  padding: 3rem 0;
}
ul li {
  list-style: none;
  color: white;
  font-size: 1.325rem;
  font-weight: 500;
  line-height: 2;
  transition: all ease 0.3s;
  cursor: pointer;
}
ul li:hover {
  color: #7ea0bb;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
main {
  width: auto;
  display: flex;
  margin: 25px auto;
  box-shadow: 4px 11px 12px 5px #4f7a9a;
}
.icon {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.section__left {
  background-color: #129cf9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  width: 60%;
}
.weather__title {
  color: #fff;
  font-size: 0.8rem;
  transition: all ease 0.3s;
}
.weather__title:hover {
  color: #2c6087;
}
.weather__body {
  display: flex;
  flex-direction: column;
}
.weather__temps {
  display: flex;
  align-items: flex-end;
}
.weather__temp {
  font-size: 6rem;
  font-weight: 500;
  color: #fff;
  display: flex;
}
.weather__inform {
  display: flex;
  flex-direction: column;
}
.weather-details {
  padding: 3rem;
}
.weather-detail {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1.325rem;
  font-weight: 500;
  line-height: 2;
  transition: all ease 0.3s;
}
.weather-detail:hover {
  color: #7ea0bb;
}
.places {
  padding: 0 3rem;
  padding-top: 100px;
  /* border-bottom: 1px solid #4f7a99; */
}
hr {
  border-bottom: 1px solid #4f7a9a;
  opacity: 0.3;
}
.detail-holder {
  padding: 0 0 3rem 0;
}
.place,
.display {
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
}
.display,
.icon {
  transition: all ease 0.3s;
}
.weather__time,
.weather__condition {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.658;
}
.section__right {
  background-color: #2c6087;
  width: 40%;
}
.search__holder {
  padding-left: 3rem;
  position: relative;
}
.search-btn {
  border: none;
  /* background-color: transparent; */
  padding: 2rem;
  cursor: pointer;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 2;
}
#search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #4f7a9a;
  font-size: 1.5rem;
  color: #fff;
  top: 71px;
  position: absolute;
  line-height: 1.5;
  z-index: 1;
}
#search::placeholder {
  font-size: 1.5rem;
  line-height: 2.125;
  color: #4f7a99;
}
#search:focus {
  outline: #4d9cd5;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #4f7a9a;
  font-size: 1.5rem;
  color: #a5cbe2;
}
.search-btn img {
  object-fit: contain;
}

@media (max-width: 640px) {
  main {
    flex-direction: column-reverse;
  }
  .section__left,
  .section__right {
    width: 100%;
  }
  .weather__temps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .icon {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}
